header {
    
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    width: 100%;
}


nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: black;
    
}

nav>ul>li {
    display: inline;
    padding: 20px;
    
}

nav>ul>li>a{    
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
}

nav>ul>li>a:hover {
    background-color: #f0bbbb;
}


.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    background-color: rgb(232, 251, 251);
    background-image: url("./bg.avif");
}

.home-content img {
    max-width: 45%;
}

.home-content div {
    max-width: 45%;
}
